@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(255, 255, 255);
}


.flex.flex-col.items-center.space-y-4.mt-4.add-class-head {
  flex-direction: row-reverse;
  display: flex;
  width: 31vh;
  justify-content: space-between;
  margin-top: -46px;
  margin-left: 1px;
  background: #fff;
  opacity: 1;
}
.header-section-1 {
  display: contents;
}
.for-flex-css{
  display: flex;
}

.header-section-1 {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.hover\:bg-gray-900:hover {
  scale: 1.1;
  transition: ease-in-out 1s;
}

.flex-12 {
  display: flex;
}

@media screen and (max-width: 480px) {
  .newclass-1{
    display: flex;
    font-size: 14px;
    /* color: #f55423; */
  }
  .pt-20 {
    padding-top: 2rem;
}
.pb-52 {
  padding-bottom: 2rem;
}
.hero-section {
  margin-bottom: 0px;
}

.newtext-1 {
  font-size: 1.5rem !important;
  text-align: center;

}

.newtext-2 {
  font-size: 1.2rem;
  text-align: center;
}

img.newtext-image {
  width: 55%;
  margin: auto;
  margin-top: -4rem;
  margin-left: 4rem;
}
.faq-item{
  padding: 15px 15px 2px 15px;
  margin: 15px;

}

}


.new121 {
  --tw-bg-opacity: 1;
  background-color: #e3d4d4;
  border: 1px solid #ffffff;
  color: #7d7d7d;
}

.newtext-1 {
  font-size: 2.25rem;
}

h1.mb-6.text-4xl.font-bold.leading-none.tracking-tight.text-black.md\:text-5xl.lg\:text-6xl.newtext-1{
  font-size: 2.25rem;
}

@keyframes shimmer {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.shimmer-effect {
  background: linear-gradient(90deg,  rgba(121, 119, 235, 0.8), rgba(32, 30, 158, 0.8), rgba(2, 2, 224, 0.8));
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}


.fade-in {
  opacity: 1;
  max-height: 1000px; /* Adjust the maximum height as needed */
  transition: opacity 0.5s ease-in, max-height 0.5s ease-in;
}

.fade-out {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-out, max-height 0.5s ease-out;
}
.newclass-forcss{
    background: #c4b1b0;
    padding: 14px;
    border-radius: 50%;
}