@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(255, 255, 255);
}


.flex.flex-col.items-center.space-y-4.mt-4.add-class-head {
  flex-direction: row-reverse;
  display: flex;
  width: 42vh;
  justify-content: space-between;
  margin-top: -41px;
  margin-left: 1px;
  background: #fff;
  opacity: 1;
}
.header-section-1 {
  display: contents;
}
.for-flex-css{
  display: flex;
}

.header-section-1 {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.hover\:bg-gray-900:hover {
  scale: 1.1;
  transition: ease-in-out 1s;
}

.flex-12 {
  display: flex;
}

@media screen and (max-width: 480px) {
  .newclass-1{
    display: flex;
    font-size: 14px;
    /* color: #f55423; */
  }
  .pt-20 {
    padding-top: 2rem;
}
.pb-52 {
  padding-bottom: 2rem;
}

.newtext-1 {
  font-size: 1.8rem !important;
  text-align: center;

}

.newtext-2 {
  font-size: 1.3rem;
  text-align: center;
}

img.newtext-image {
  width: 70%;
  margin: auto;
  margin-top: -3rem;
}


}


.new121{
  --tw-bg-opacity: 1;
  background-color: white;
  border: 1px solid #cdcdcd;
}

.newtext-1 {
  font-size: 2.25rem;
}
h1.mb-6.text-4xl.font-bold.leading-none.tracking-tight.text-black.md\:text-5xl.lg\:text-6xl.newtext-1{
  font-size: 2.25rem;

}

